<template>
    <group style="width:1280px;height: 525px;">
        <div class="r_368x480" style="top:2px;left: 53px;">
            <item class="item">
                <div class="focus"><img src="../../../images/focus/368x480.png"></div>
                <div class="pic"><img src="../../../images/home/home_fragment_2/r_368x480.png" alt=""></div>
            </item>
        </div>
        <div class="r_560x232" style="top:2px;left: 437px;">
            <item class="item">
                <div class="focus"><img src="../../../images/focus/560x232.png"></div>
                <div class="pic"><img src="../../../images/home/home_fragment_2/r_560x232.png" alt=""></div>
            </item>
        </div>
        <div class="r_176x232" style="top:2px;left: 1016px;">
            <item class="item">
                <div class="focus"><img src="../../../images/focus/176x232.png"></div>
                <div class="pic"><img src="../../../images/home/home_fragment_2/vip.png" alt=""></div>
            </item>
        </div>
        <div class="r_176x232" style="top:250px;left: 437px;">
            <item class="item">
                <div class="focus"><img src="../../../images/focus/176x232.png"></div>
                <div class="pic"><img src="../../../images/home/home_fragment_2/r_176x232_0.png" alt=""></div>
            </item>
        </div>
        <div class="r_176x232" style="top:250px;left: 629px;">
            <item class="item">
                <div class="focus"><img src="../../../images/focus/176x232.png"></div>
                <div class="pic"><img src="../../../images/home/home_fragment_2/r_176x232_1.png" alt=""></div>
            </item>
        </div>
        <div class="r_176x232" style="top:250px;left: 821px;">
            <item class="item">
                <div class="focus"><img src="../../../images/focus/176x232.png"></div>
                <div class="pic"><img src="../../../images/home/home_fragment_2/r_176x232_2.png" alt=""></div>
            </item>
        </div>
        <div class="r_176x112" style="top:250px;left: 1016px;">
            <item class="item">
                <div class="focus"><img src="../../../images/focus/176x112.png"></div>
                <div class="pic"><img src="../../../images/home/home_fragment_2/hunaqiuyinyuan.png" alt=""></div>
            </item>
        </div>
        <div class="r_176x112" style="top:370px;left: 1016px;">
            <item class="item">
                <div class="focus"><img src="../../../images/focus/176x112.png"></div>
                <div class="pic"><img src="../../../images/home/home_fragment_2/chaoqingyingyuan.png" alt=""></div>
            </item>
        </div>
    </group>

    <div class="r_216x77" style="top:497px;left: 53px;">
        <item class="item">
            <div class="focus"><img src="../../../images/focus/216x77.png"></div>
            <div class="pic"><img src="../../../images/home/home_fragment_2/type_0.png" alt=""></div>
        </item>
    </div>
    <div class="r_216x77" style="top:497px;left: 285px;">
        <item class="item">
            <div class="focus"><img src="../../../images/focus/216x77.png"></div>
            <div class="pic"><img src="../../../images/home/home_fragment_2/type_1.png" alt=""></div>
        </item>
    </div>
    <div class="r_216x77" style="top:497px;left: 514px;">
        <item class="item">
            <div class="focus"><img src="../../../images/focus/216x77.png"></div>
            <div class="pic"><img src="../../../images/home/home_fragment_2/type_2.png" alt=""></div>
        </item>
    </div>
    <div class="r_216x77" style="top:497px;left: 742px;">
        <item class="item">
            <div class="focus"><img src="../../../images/focus/216x77.png"></div>
            <div class="pic"><img src="../../../images/home/home_fragment_2/type_3.png" alt=""></div>
        </item>
    </div>
    <div class="r_216x77" style="top:497px;left: 976px;">
        <item class="item">
            <div class="focus"><img src="../../../images/focus/216x77.png"></div>
            <div class="pic"><img src="../../../images/home/home_fragment_2/type_4.png" alt=""></div>
        </item>
    </div>

    <group class="r_176x272" style="width: 1280px;height: 310px;top: 616px" view-left="none" view-right="none">
        <div class="title">向漫威初代英雄致敬</div>
        <item class="item" style="left:53px;top: 17px;">
            <div class="focus"><img src="../../../images/focus/176x272.png"/></div>
            <div class="pic"><img src="../../../images/home/home_fragment_2/r_176x232_3.png"/></div>
            <div class="text_bg"></div>
            <text class="text">钢铁侠</text>
        </item>
        <item class="item" style="left:246px;top: 17px;">
            <div class="focus"><img src="../../../images/focus/176x272.png"/></div>
            <div class="pic"><img src="../../../images/home/home_fragment_2/r_176x232_4.png"/></div>
            <div class="text_bg"></div>
            <text class="text">美国队长2</text>
        </item>
        <item class="item" style="left:439px;top: 17px;">
            <div class="focus"><img src="../../../images/focus/176x272.png"/></div>
            <div class="pic"><img src="../../../images/home/home_fragment_2/r_176x232_5.png"/></div>
            <div class="text_bg"></div>
            <text class="text">美国队长3</text>
        </item>
        <item class="item" style="left:632px;top: 17px;">
            <div class="focus"><img src="../../../images/focus/176x272.png"/></div>
            <div class="pic"><img src="../../../images/home/home_fragment_2/r_176x232_6.png"/></div>
            <div class="text_bg"></div>
            <text class="text">复仇者联盟</text>
        </item>
        <item class="item" style="left:825px;top: 17px;">
            <div class="focus"><img src="../../../images/focus/176x272.png"/></div>
            <div class="pic"><img src="../../../images/home/home_fragment_2/r_176x232_7.png"/></div>
            <div class="text_bg"></div>
            <text class="text">复仇者联盟2</text>
        </item>
        <item class="item" style="left:1018px;top: 17px;">
            <div class="focus"><img src="../../../images/focus/176x272.png"/></div>
            <div class="pic"><img src="../../../images/home/home_fragment_2/r_176x232_8.png"/></div>
            <div class="text_bg"></div>
            <text class="text">复仇者联盟3：无限战争</text>
        </item>
    </group>

    <group class="r_176x272" style="width: 1280px;height: 310px;top: 941px" view-left="none" view-right="none">
        <div class="title">新生代小生小花齐争艳</div>
        <item class="item" style="left:53px;top: 17px;">
            <div class="focus"><img src="../../../images/focus/176x272.png"/></div>
            <div class="pic"><img src="../../../images/home/home_fragment_2/r_176x232_9.png"/></div>
            <div class="text_bg"></div>
            <text class="text">快把我哥带走</text>
        </item>
        <item class="item" style="left:246px;top: 17px;">
            <div class="focus"><img src="../../../images/focus/176x272.png"/></div>
            <div class="pic"><img src="../../../images/home/home_fragment_2/r_176x232_10.png"/></div>
            <div class="text_bg"></div>
            <text class="text">影</text>
        </item>
        <item class="item" style="left:439px;top: 17px;">
            <div class="focus"><img src="../../../images/focus/176x272.png"/></div>
            <div class="pic"><img src="../../../images/home/home_fragment_2/r_176x232_11.png"/></div>
            <div class="text_bg"></div>
            <text class="text">唐人街探案2</text>
        </item>
        <item class="item" style="left:632px;top: 17px;">
            <div class="focus"><img src="../../../images/focus/176x272.png"/></div>
            <div class="pic"><img src="../../../images/home/home_fragment_2/r_176x232_12.png"/></div>
            <div class="text_bg"></div>
            <text class="text">机器之血</text>
        </item>
        <item class="item" style="left:825px;top: 17px;">
            <div class="focus"><img src="../../../images/focus/176x272.png"/></div>
            <div class="pic"><img src="../../../images/home/home_fragment_2/r_176x232_13.png"/></div>
            <div class="text_bg"></div>
            <text class="text">长城</text>
        </item>
        <item class="item" style="left:1018px;top: 17px;">
            <div class="focus"><img src="../../../images/focus/176x272.png"/></div>
            <div class="pic"><img src="../../../images/home/home_fragment_2/r_176x232_14.png"/></div>
            <div class="text_bg"></div>
            <text class="text">后来的我们</text>
        </item>
    </group>

    <group style="width: 1280px;height: 380px;top: 1270px" view-left="none" view-right="none">
        <div class="title">强势接档</div>
        <div class="text" style="left: 222px;">4月30日</div>
        <div class="text" style="left: 507px;">即将上线</div>
        <div class="text" style="left: 701px;">敬请期待</div>
        <div class="text" style="left: 892px;">敬请期待</div>
        <div class="text" style="left: 1086px;">敬请期待</div>
        <div class="line"></div>
        <div class="point" style="left:248px;"><img src="../../../images/home/home_fragment_2/point.png"></div>
        <div class="point" style="left:533px;"><img src="../../../images/home/home_fragment_2/point.png"></div>
        <div class="point" style="left:725px;"><img src="../../../images/home/home_fragment_2/point.png"></div>
        <div class="point" style="left:918px;"><img src="../../../images/home/home_fragment_2/point.png"></div>
        <div class="point" style="left:1112px;"><img src="../../../images/home/home_fragment_2/point.png"></div>
        <div class="r_368x272" style="left:53px;top: 60px;">
            <item class="item">
                <div class="focus"><img src="../../../images/focus/368x272.png"/></div>
                <div class="pic"><img src="../../../images/home/home_fragment_2/r_368x232.png"/></div>
                <div class="text_bg"></div>
                <text class="text">流浪地球</text>
            </item>
        </div>
        <div class="r_176x272" style="width: 0px;height: 0px;top: 0px">
            <item class="item" style="left:439px;top: 60px;">
                <div class="focus"><img src="../../../images/focus/176x272.png"/></div>
                <div class="pic"><img src="../../../images/home/home_fragment_2/r_176x232_15.png"/></div>
                <div class="text_bg"></div>
                <text class="text">疯狂的外星人</text>
            </item>
            <item class="item" style="left:632px;top: 60px;">
                <div class="focus"><img src="../../../images/focus/176x272.png"/></div>
                <div class="pic"><img src="../../../images/home/home_fragment_2/r_176x232_16.png"/></div>
                <div class="text_bg"></div>
                <text class="text">反贪风暴4</text>
            </item>
            <item class="item" style="left:825px;top: 60px;">
                <div class="focus"><img src="../../../images/focus/176x272.png"/></div>
                <div class="pic"><img src="../../../images/home/home_fragment_2/r_176x232_17.png"/></div>
                <div class="text_bg"></div>
                <text class="text">调音师</text>
            </item>
            <item class="item" style="left:1018px;top: 60px;">
                <div class="focus"><img src="../../../images/focus/176x272.png"/></div>
                <div class="pic"><img src="../../../images/home/home_fragment_2/r_176x232_18.png"/></div>
                <div class="text_bg"></div>
                <text class="text">比悲伤更悲伤的故事</text>
            </item>
        </div>

    </group>

    <group class="r_368x72" style="width: 1280px;height: 95px;top: 1640px;" view-left="none" view-right="none">
        <item class="item" style="left:72px;">
            <div class="focus"><img src="../../../images/home/down_0_378x81.png" view-lazy="0"/></div>
            <div class="pic"><img src="../../../images/home/down_0.png" view-lazy="0"/></div>
        </item>

        <item class="item" style="left:456px;">
            <div class="focus"><img src="../../../images/home/down_1_378x81.png" view-lazy="0"/></div>
            <div class="pic"><img src="../../../images/home/down_1.png" view-lazy="0"/></div>
        </item>

        <item class="item" style="left:840px;" id="back_top">
            <div class="focus"><img src="../../../images/home/down_2_378x81.png" view-lazy="0"/></div>
            <div class="pic"><img src="../../../images/home/down_2.png" view-lazy="0"/></div>
        </item>
    </group>

</template>
