<template>
    <group style="width: 1280px;height: 520px;overflow: hidden;" id="first_screen">
        <div class="r_560x232" style="left: 53px;top:2px;">
            <item class="item" id="first_big">
                <div class="focus"><img src="../../../images/focus/560x232.png"></div>
                <div class="pic"><img></div>
            </item>
        </div>
        <group style="top:249px;left: 53px;width: 598px;height: 270px;">
            <div class="r_176x232">
                <item class="item">
                    <div class="focus"><img src="../../../images/focus/176x232.png"></div>
                    <div class="pic"><img></div>
                </item>
            </div>

            <div class="r_176x232" style="left: 193px;">
                <item class="item">
                    <div class="focus"><img src="../../../images/focus/176x232.png"></div>
                    <div class="pic"><img></div>
                </item>
            </div>

            <div class="r_176x232" style="left: 384px;">
                <item class="item">
                    <div class="focus"><img src="../../../images/focus/176x232.png"></div>
                    <div class="pic"><img></div>
                </item>
            </div>
        </group>
        <div style="left: 648px;top: 21px;"><img width="369" height="480" id="big_pic"></div>
        <div style="width:191px;height:47px;left: 1016px;top:21px;color:#f98700;line-height: 47px;font-size: 28px;background: #454545">
            大家都在看
        </div>
        <recycle class="r_191x54" style="height:433px;left: 1016px;top:68px;overflow: hidden;" id="like">
            <item class="item">
                <div class="focus"></div>
                <div class="pic"></div>
                <text class="text" id="text"></text>
                <div class="info" id="info"></div>
                <div class="line"></div>
            </item>
        </recycle>
    </group>
    <group class="r_111x82" style="width: 1280px;height: 82px;top:516px;">
        <item class="item" style="left: 72px;">
            <div class="focus"><img src="../../../images/home/home_fragment_0/recommend_column_1_focus.png"></div>
            <div class="pic"><img src="../../../images/home/home_fragment_0/recommend_column_1.png"></div>
        </item>
        <item class="item" style="left: 187px;">
            <div class="focus"><img src="../../../images/home/home_fragment_0/recommend_column_2_focus.png"></div>
            <div class="pic"><img src="../../../images/home/home_fragment_0/recommend_column_2.png"></div>
        </item>
        <item class="item" style="left: 302px;">
            <div class="focus"><img src="../../../images/home/home_fragment_0/recommend_column_3_focus.png"></div>
            <div class="pic"><img src="../../../images/home/home_fragment_0/recommend_column_3.png"></div>
        </item>
        <item class="item" style="left: 417px;">
            <div class="focus"><img src="../../../images/home/home_fragment_0/recommend_column_4_focus.png"></div>
            <div class="pic"><img src="../../../images/home/home_fragment_0/recommend_column_4.png"></div>
        </item>
        <item class="item" style="left: 522px;">
            <div class="focus"><img src="../../../images/home/home_fragment_0/recommend_column_5_focus.png"></div>
            <div class="pic"><img src="../../../images/home/home_fragment_0/recommend_column_5.png"></div>
        </item>
        <item class="item" style="left: 642px;">
            <div class="focus"><img src="../../../images/home/home_fragment_0/recommend_column_6_focus.png"></div>
            <div class="pic"><img src="../../../images/home/home_fragment_0/recommend_column_6.png"></div>
        </item>
        <item class="item" style="left: 757px;">
            <div class="focus"><img src="../../../images/home/home_fragment_0/recommend_column_7_focus.png"></div>
            <div class="pic"><img src="../../../images/home/home_fragment_0/recommend_column_7.png"></div>
        </item>
        <item class="item" style="left: 872px;">
            <div class="focus"><img src="../../../images/home/home_fragment_0/recommend_column_8_focus.png"></div>
            <div class="pic"><img src="../../../images/home/home_fragment_0/recommend_column_8.png"></div>
        </item>
        <item class="item" style="left: 987px;">
            <div class="focus"><img src="../../../images/home/home_fragment_0/recommend_column_9_hangzhou_focus.png"></div>
            <div class="pic"><img src="../../../images/home/home_fragment_0/recommend_column_9_hangzhou.png"></div>
        </item>
        <item class="item" style="left: 1102px;">
            <div class="focus"><img src="../../../images/home/home_fragment_0/recommend_column_9_local_focus.png"></div>
            <div class="pic"><img src="../../../images/home/home_fragment_0/recommend_column_9_local.png"></div>
        </item>
    </group>

    <div class="r_1136x320" style="left: 53px;top:585px;">
        <item class="item" view-left="none" view-right="none">
            <div class="focus"><img src="../../../images/focus/1136x320.png"/></div>
            <!--            <div class="pic"><img src="../../../images/home/home_fragment_0/r_1136x320.png"/></div>-->
            <div class="pic"><img/></div>
        </item>
    </div>

    <group class="r_176x232" style="width: 1280px;height: 310px;top: 942px" view-left="none" view-right="none">
        <div class="title">今日热播</div>
        <item class="item" style="left:53px;top: 17px;">
            <div class="focus"><img src="../../../images/focus/176x232.png"/></div>
            <div class="pic"><img/></div>
        </item>
        <item class="item" style="left:246px;top: 17px;">
            <div class="focus"><img src="../../../images/focus/176x232.png"/></div>
            <div class="pic"><img/></div>
        </item>
        <item class="item" style="left:439px;top: 17px;">
            <div class="focus"><img src="../../../images/focus/176x232.png"/></div>
            <div class="pic"><img/></div>
        </item>
        <item class="item" style="left:632px;top: 17px;">
            <div class="focus"><img src="../../../images/focus/176x232.png"/></div>
            <div class="pic"><img/></div>
        </item>
        <item class="item" style="left:825px;top: 17px;">
            <div class="focus"><img src="../../../images/focus/176x232.png"/></div>
            <div class="pic"><img/></div>
        </item>
        <item class="item" style="left:1018px;top: 17px;">
            <div class="focus"><img src="../../../images/focus/176x232.png"/></div>
            <div class="pic"><img/></div>
        </item>
    </group>

    <group class="r_176x232" style="width: 1280px;height: 310px;top: 1270px" view-left="none" view-right="none">
        <div class="title">大家都在看</div>
        <item class="item" style="left:53px;top: 17px;">
            <div class="focus"><img src="../../../images/focus/176x232.png"/></div>
            <div class="pic"><img/></div>
        </item>
        <item class="item" style="left:246px;top: 17px;">
            <div class="focus"><img src="../../../images/focus/176x232.png"/></div>
            <div class="pic"><img/></div>
        </item>
        <item class="item" style="left:439px;top: 17px;">
            <div class="focus"><img src="../../../images/focus/176x232.png"/></div>
            <div class="pic"><img/></div>
        </item>
        <item class="item" style="left:632px;top: 17px;">
            <div class="focus"><img src="../../../images/focus/176x232.png"/></div>
            <div class="pic"><img/></div>
        </item>
        <item class="item" style="left:825px;top: 17px;">
            <div class="focus"><img src="../../../images/focus/176x232.png"/></div>
            <div class="pic"><img/></div>
        </item>
        <item class="item" style="left:1018px;top: 17px;">
            <div class="focus"><img src="../../../images/focus/176x232.png"/></div>
            <div class="pic"><img/></div>
        </item>
    </group>

    <group class="r_176x232" style="width: 1280px;height: 310px;top: 1594px" view-left="none" view-right="none">
        <div class="title">热门综艺</div>
        <item class="item" style="left:53px;top: 17px;">
            <div class="focus"><img src="../../../images/focus/176x232.png"/></div>
            <div class="pic"><img/></div>
        </item>
        <item class="item" style="left:246px;top: 17px;">
            <div class="focus"><img src="../../../images/focus/176x232.png"/></div>
            <div class="pic"><img/></div>
        </item>
        <item class="item" style="left:439px;top: 17px;">
            <div class="focus"><img src="../../../images/focus/176x232.png"/></div>
            <div class="pic"><img/></div>
        </item>
        <item class="item" style="left:632px;top: 17px;">
            <div class="focus"><img src="../../../images/focus/176x232.png"/></div>
            <div class="pic"><img/></div>
        </item>
        <item class="item" style="left:825px;top: 17px;">
            <div class="focus"><img src="../../../images/focus/176x232.png"/></div>
            <div class="pic"><img/></div>
        </item>
        <item class="item" style="left:1018px;top: 17px;">
            <div class="focus"><img src="../../../images/focus/176x232.png"/></div>
            <div class="pic"><img/></div>
        </item>
    </group>

    <group class="r_368x72" style="width: 1280px;height: 95px;top: 1921px;" view-left="none" view-right="none">
        <item class="item" style="left:260px;">
            <div class="focus"><img src="../../../images/home/home_fragment_0/down_1_378x81.png"/></div>
            <div class="pic"><img src="../../../images/home/home_fragment_0/down_1.png"/></div>
        </item>

        <item class="item" style="left:647px;" id="back_top">
            <div class="focus"><img src="../../../images/home/home_fragment_0/down_2_378x81.png"/></div>
            <div class="pic"><img src="../../../images/home/home_fragment_0/down_2.png"/></div>
        </item>
    </group>
</template>
