<template>
    <group class="first_screen" id="first_screen">
        <div class="r_440x280" style="left: 53px;top:2px;">
            <item class="item">
                <div class="focus"><img src="../../../images/focus/440x280.png"></div>
                <div class="pic"><img src="../../../images/home/home_fragment_4/r_440x280.png"></div>
            </item>
        </div>

        <div class="r_216x280" style="left: 510px;top:2px;">
            <item class="item">
                <div class="focus"><img src="../../../images/focus/216x280.png"></div>
                <div class="pic"><img src="../../../images/home/home_fragment_4/r_216x280.png"></div>
            </item>
        </div>

        <div class="r_216x132" style="left: 741px;top:2px;">
            <item class="item">
                <div class="focus"><img src="../../../images/focus/216x132.png"></div>
                <div class="pic"><img src="../../../images/home/home_fragment_4/r_216x132_0.png"></div>
            </item>
        </div>

        <div class="r_216x132" style="left: 973px;top:2px;">
            <item class="item">
                <div class="focus"><img src="../../../images/focus/216x132.png"></div>
                <div class="pic"><img src="../../../images/home/home_fragment_4/r_216x132_1.png"></div>
            </item>
        </div>

        <div class="r_216x132" style="left: 741px;top:151px;">
            <item class="item">
                <div class="focus"><img src="../../../images/focus/216x132.png"></div>
                <div class="pic"><img src="../../../images/home/home_fragment_4/r_216x132_2.png"></div>
            </item>
        </div>

        <div class="r_216x132" style="left: 973px;top:151px;">
            <item class="item">
                <div class="focus"><img src="../../../images/focus/216x132.png"></div>
                <div class="pic"><img src="../../../images/home/home_fragment_4/r_216x132_3.png"></div>
            </item>
        </div>

        <div class="r_368x152" style="left: 53px;top:299px;">
            <item class="item">
                <div class="focus"><img src="../../../images/focus/368x152.png"></div>
                <div class="pic"><img src="../../../images/home/home_fragment_4/r_368x152_0.png"></div>
            </item>
        </div>

        <div class="r_368x152" style="left: 437px;top:299px;">
            <item class="item">
                <div class="focus"><img src="../../../images/focus/368x152.png"></div>
                <div class="pic"><img src="../../../images/home/home_fragment_4/r_368x152_1.png"></div>
            </item>
        </div>

        <div class="r_368x152" style="left: 821px;top:299px;">
            <item class="item">
                <div class="focus"><img src="../../../images/focus/368x152.png"></div>
                <div class="pic"><img src="../../../images/home/home_fragment_4/r_368x152_2.png"></div>
            </item>
        </div>
    </group>

    <group class="second_screen" id="second_screen">
        <div class="r_90x90" style="left: 53px;top:0px;">
            <item class="item">
                <div class="focus"><img src="../../../images/focus/90x90.png"></div>
                <div class="pic"><img src="../../../images/home/home_fragment_4/r_90x90_0.png"></div>
            </item>
        </div>

        <div class="r_90x90" style="left: 183px;top:0px;">
            <item class="item">
                <div class="focus"><img src="../../../images/focus/90x90.png"></div>
                <div class="pic"><img src="../../../images/home/home_fragment_4/r_90x90_1.png"></div>
            </item>
        </div>

        <div class="r_90x90" style="left: 313px;top:0px;">
            <item class="item">
                <div class="focus"><img src="../../../images/focus/90x90.png"></div>
                <div class="pic"><img src="../../../images/home/home_fragment_4/r_90x90_2.png"></div>
            </item>
        </div>

        <div class="r_90x90" style="left: 443px;top:0px;">
            <item class="item">
                <div class="focus"><img src="../../../images/focus/90x90.png"></div>
                <div class="pic"><img src="../../../images/home/home_fragment_4/r_90x90_3.png"></div>
            </item>
        </div>

        <div class="r_90x90" style="left: 573px;top:0px;">
            <item class="item">
                <div class="focus"><img src="../../../images/focus/90x90.png"></div>
                <div class="pic"><img src="../../../images/home/home_fragment_4/r_90x90_4.png"></div>
            </item>
        </div>

        <div class="r_90x90" style="left: 703px;top:0px;">
            <item class="item">
                <div class="focus"><img src="../../../images/focus/90x90.png"></div>
                <div class="pic"><img src="../../../images/home/home_fragment_4/r_90x90_5.png"></div>
            </item>
        </div>

        <div class="r_90x90" style="left: 833px;top:0px;">
            <item class="item">
                <div class="focus"><img src="../../../images/focus/90x90.png"></div>
                <div class="pic"><img src="../../../images/home/home_fragment_4/r_90x90_6.png"></div>
            </item>
        </div>

        <div class="r_90x90" style="left: 963px;top:0px;">
            <item class="item">
                <div class="focus"><img src="../../../images/focus/90x90.png"></div>
                <div class="pic"><img src="../../../images/home/home_fragment_4/r_90x90_7.png"></div>
            </item>
        </div>

        <div class="r_90x90" style="left: 1094px;top:0px;">
            <item class="item">
                <div class="focus"><img src="../../../images/focus/90x90.png"></div>
                <div class="pic"><img src="../../../images/home/home_fragment_4/r_90x90_8.png"></div>
            </item>
        </div>
    </group>
</template>
