<template>
    <group style="width:1280px;height: 525px;">
        <div class="r_368x480" style="top:2px;left: 53px;">
            <item class="item">
                <div class="focus"><img src="../../../images/focus/368x480.png"></div>
                <div class="pic"><img src="../../../images/home/home_fragment_3/r_368x480.png" alt=""></div>
            </item>
        </div>
        <div class="r_560x232" style="top:2px;left: 437px;">
            <item class="item">
                <div class="focus"><img src="../../../images/focus/560x232.png"></div>
                <div class="pic"><img src="../../../images/home/home_fragment_3/r_560x232.png" alt=""></div>
            </item>
        </div>
        <div class="r_176x232" style="top:2px;left: 1016px;">
            <item class="item">
                <div class="focus"><img src="../../../images/focus/176x232.png"></div>
                <div class="pic"><img src="../../../images/home/home_fragment_3/vip.png" alt=""></div>
            </item>
        </div>
        <div class="r_176x232" style="top:249px;left: 437px;">
            <item class="item">
                <div class="focus"><img src="../../../images/focus/176x232.png"></div>
                <div class="pic"><img src="../../../images/home/home_fragment_3/r_176x232_0.png" alt=""></div>
            </item>
        </div>
        <div class="r_176x232" style="top:249px;left: 629px;">
            <item class="item">
                <div class="focus"><img src="../../../images/focus/176x232.png"></div>
                <div class="pic"><img src="../../../images/home/home_fragment_3/r_176x232_1.png" alt=""></div>
            </item>
        </div>
        <div class="r_176x232" style="top:249px;left: 821px;">
            <item class="item">
                <div class="focus"><img src="../../../images/focus/176x232.png"></div>
                <div class="pic"><img src="../../../images/home/home_fragment_3/r_176x232_2.png" alt=""></div>
            </item>
        </div>
        <div class="r_176x112" style="top:249px;left: 1016px;">
            <item class="item">
                <div class="focus"><img src="../../../images/focus/176x112.png"></div>
                <div class="pic"><img src="../../../images/home/home_fragment_3/huanqiujuchang.png" alt=""></div>
            </item>
        </div>
        <div class="r_176x112" style="top:370px;left: 1016px;">
            <item class="item">
                <div class="focus"><img src="../../../images/focus/176x112.png"></div>
                <div class="pic"><img src="../../../images/home/home_fragment_3/chaoqingyingyuan.png" alt=""></div>
            </item>
        </div>
    </group>

    <div class="r_216x77" style="top:497px;left: 53px;">
        <item class="item">
            <div class="focus"><img src="../../../images/focus/216x77.png"></div>
            <div class="pic"><img src="../../../images/home/home_fragment_3/type_0.png" alt=""></div>
        </item>
    </div>
    <div class="r_216x77" style="top:497px;left: 285px;">
        <item class="item">
            <div class="focus"><img src="../../../images/focus/216x77.png"></div>
            <div class="pic"><img src="../../../images/home/home_fragment_3/type_1.png" alt=""></div>
        </item>
    </div>
    <div class="r_216x77" style="top:497px;left: 514px;">
        <item class="item">
            <div class="focus"><img src="../../../images/focus/216x77.png"></div>
            <div class="pic"><img src="../../../images/home/home_fragment_3/type_2.png" alt=""></div>
        </item>
    </div>
    <div class="r_216x77" style="top:497px;left: 742px;">
        <item class="item">
            <div class="focus"><img src="../../../images/focus/216x77.png"></div>
            <div class="pic"><img src="../../../images/home/home_fragment_3/type_3.png" alt=""></div>
        </item>
    </div>
    <div class="r_216x77" style="top:497px;left: 976px;">
        <item class="item">
            <div class="focus"><img src="../../../images/focus/216x77.png"></div>
            <div class="pic"><img src="../../../images/home/home_fragment_3/type_4.png" alt=""></div>
        </item>
    </div>
</template>
