<template>
    <div class="bg"></div>
    <div class="type_bg"></div>
    <recycle class="r_104x40" style="width:104px;height:497px;left: 56px;top:33px;overflow: hidden;"
             view-select="1"
             id="channel_nav">
        <item class="item">
            <div class="focus"></div>
            <text class="text" id="text"></text>
        </item>
    </recycle>

    <div class="small_video"><img></div>

    <recycle class="channel_list" style="left: 800px;top: 24px;" view-select="1" id="channel_list">
        <item class="item">
            <div class="focus"></div>
            <div class="icon"><img id="icon"></div>
            <text class="text" style="left: 48px;width: 125px;" id="text"></text>
            <text class="text" style="left: 184px;width: 230px;" id="info"></text>
        </item>
        <div class="line"></div>
    </recycle>

    <recycle class="history" style="left: 165px;top: 394px;"
             view-orientation="h"
             id="history_channel">
        <item class="item">
            <div class="focus"><img src="../../../images/focus/82x82.png" alt=""></div>
            <div class="pic"><img id="icon"></div>
            <text class="text" id="text"></text>
        </item>
    </recycle>
</template>
