<template>
    <group class="first_screen" id="first_screen">
        <div class="r_440x280" style="left: 53px;top:2px;">
            <item class="item">
                <div class="focus"><img src="../../../images/focus/440x280.png"></div>
                <div class="pic"><img src="../../../images/home/home_fragment_4/r_440x280.png"></div>
            </item>
        </div>

        <div class="r_216x280" style="left: 510px;top:2px;">
            <item class="item">
                <div class="focus"><img src="../../../images/focus/216x280.png"></div>
                <div class="pic"><img src="../../../images/home/home_fragment_4/r_216x280.png"></div>
            </item>
        </div>

        <div class="r_216x132" style="left: 741px;top:2px;">
            <item class="item">
                <div class="focus"><img src="../../../images/focus/216x132.png"></div>
                <div class="pic"><img src="../../../images/home/home_fragment_4/r_216x132_0.png"></div>
            </item>
        </div>

        <div class="r_216x132" style="left: 973px;top:2px;">
            <item class="item">
                <div class="focus"><img src="../../../images/focus/216x132.png"></div>
                <div class="pic"><img src="../../../images/home/home_fragment_4/r_216x132_1.png"></div>
            </item>
        </div>

        <div class="r_216x132" style="left: 741px;top:151px;">
            <item class="item">
                <div class="focus"><img src="../../../images/focus/216x132.png"></div>
                <div class="pic"><img src="../../../images/home/home_fragment_4/r_216x132_2.png"></div>
            </item>
        </div>

        <div class="r_216x132" style="left: 973px;top:151px;">
            <item class="item">
                <div class="focus"><img src="../../../images/focus/216x132.png"></div>
                <div class="pic"><img src="../../../images/home/home_fragment_4/r_216x132_3.png"></div>
            </item>
        </div>

        <div class="r_368x152" style="left: 53px;top:299px;">
            <item class="item">
                <div class="focus"><img src="../../../images/focus/368x152.png"></div>
                <div class="pic"><img src="../../../images/home/home_fragment_4/r_368x152_0.png"></div>
            </item>
        </div>

        <div class="r_368x152" style="left: 437px;top:299px;">
            <item class="item">
                <div class="focus"><img src="../../../images/focus/368x152.png"></div>
                <div class="pic"><img src="../../../images/home/home_fragment_4/r_368x152_1.png"></div>
            </item>
        </div>

        <div class="r_368x152" style="left: 821px;top:299px;">
            <item class="item">
                <div class="focus"><img src="../../../images/focus/368x152.png"></div>
                <div class="pic"><img src="../../../images/home/home_fragment_4/r_368x152_2.png"></div>
            </item>
        </div>
    </group>

    <group class="second_screen" id="second_screen">
        <div class="r_90x90" style="left: 53px;top:0px;">
            <item class="item">
                <div class="focus"><img src="../../../images/focus/90x90.png"></div>
                <div class="pic"><img src="../../../images/home/home_fragment_4/r_90x90_0.png"></div>
            </item>
        </div>

        <div class="r_90x90" style="left: 183px;top:0px;">
            <item class="item">
                <div class="focus"><img src="../../../images/focus/90x90.png"></div>
                <div class="pic"><img src="../../../images/home/home_fragment_4/r_90x90_1.png"></div>
            </item>
        </div>

        <div class="r_90x90" style="left: 313px;top:0px;">
            <item class="item">
                <div class="focus"><img src="../../../images/focus/90x90.png"></div>
                <div class="pic"><img src="../../../images/home/home_fragment_4/r_90x90_2.png"></div>
            </item>
        </div>

        <div class="r_90x90" style="left: 443px;top:0px;">
            <item class="item">
                <div class="focus"><img src="../../../images/focus/90x90.png"></div>
                <div class="pic"><img src="../../../images/home/home_fragment_4/r_90x90_3.png"></div>
            </item>
        </div>

        <div class="r_90x90" style="left: 573px;top:0px;">
            <item class="item">
                <div class="focus"><img src="../../../images/focus/90x90.png"></div>
                <div class="pic"><img src="../../../images/home/home_fragment_4/r_90x90_4.png"></div>
            </item>
        </div>

        <div class="r_90x90" style="left: 703px;top:0px;">
            <item class="item">
                <div class="focus"><img src="../../../images/focus/90x90.png"></div>
                <div class="pic"><img src="../../../images/home/home_fragment_4/r_90x90_5.png"></div>
            </item>
        </div>

        <div class="r_90x90" style="left: 833px;top:0px;">
            <item class="item">
                <div class="focus"><img src="../../../images/focus/90x90.png"></div>
                <div class="pic"><img src="../../../images/home/home_fragment_4/r_90x90_6.png"></div>
            </item>
        </div>

        <div class="r_90x90" style="left: 963px;top:0px;">
            <item class="item">
                <div class="focus"><img src="../../../images/focus/90x90.png"></div>
                <div class="pic"><img src="../../../images/home/home_fragment_4/r_90x90_7.png"></div>
            </item>
        </div>

        <div class="r_90x90" style="left: 1094px;top:0px;">
            <item class="item">
                <div class="focus"><img src="../../../images/focus/90x90.png"></div>
                <div class="pic"><img src="../../../images/home/home_fragment_4/r_90x90_8.png"></div>
            </item>
        </div>
    </group>

    <group class="r_176x74" style="width: 1280px;height: 112px;top: 600px" view-left="none" view-right="none">
        <item class="item" style="left:53px;">
            <div class="focus"><img src="../../../images/focus/176x74.png"/></div>
            <div class="pic"><img src="../../../images/home/home_fragment_4/r_176x74_0.png"/></div>
        </item>
        <item class="item" style="left:246px;">
            <div class="focus"><img src="../../../images/focus/176x74.png"/></div>
            <div class="pic"><img src="../../../images/home/home_fragment_4/r_176x74_1.png"/></div>
        </item>
        <item class="item" style="left:439px;">
            <div class="focus"><img src="../../../images/focus/176x74.png"/></div>
            <div class="pic"><img src="../../../images/home/home_fragment_4/r_176x74_2.png"/></div>
        </item>
        <item class="item" style="left:632px;">
            <div class="focus"><img src="../../../images/focus/176x74.png"/></div>
            <div class="pic"><img src="../../../images/home/home_fragment_4/r_176x74_3.png"/></div>
        </item>
        <item class="item" style="left:825px;">
            <div class="focus"><img src="../../../images/focus/176x74.png"/></div>
            <div class="pic"><img src="../../../images/home/home_fragment_4/r_176x74_4.png"/></div>
        </item>
        <item class="item" style="left:1018px;">
            <div class="focus"><img src="../../../images/focus/176x74.png"/></div>
            <div class="pic"><img src="../../../images/home/home_fragment_4/r_176x74_5.png"/></div>
        </item>
    </group>

    <group class="r_176x272" style="width: 1280px;height: 330px;top: 726px" view-left="none" view-right="none">
        <div class="title">迪士尼经典动画 部部精彩</div>
        <item class="item" style="left:53px;top: 17px;">
            <div class="focus"><img src="../../../images/focus/176x272.png"/></div>
            <div class="pic"><img src="../../../images/home/home_fragment_4/r_176x232_0.png"/></div>
            <div class="text_bg"></div>
            <text class="text">无敌破坏王2</text>
        </item>
        <item class="item" style="left:246px;top: 17px;">
            <div class="focus"><img src="../../../images/focus/176x272.png"/></div>
            <div class="pic"><img src="../../../images/home/home_fragment_4/r_176x232_1.png"/></div>
            <div class="text_bg"></div>
            <text class="text">小公主苏菲雅第二季</text>
        </item>
        <item class="item" style="left:439px;top: 17px;">
            <div class="focus"><img src="../../../images/focus/176x272.png"/></div>
            <div class="pic"><img src="../../../images/home/home_fragment_4/r_176x232_2.png"/></div>
            <div class="text_bg"></div>
            <text class="text">米奇妙妙屋第五季</text>
        </item>
        <item class="item" style="left:632px;top: 17px;">
            <div class="focus"><img src="../../../images/focus/176x272.png"/></div>
            <div class="pic"><img src="../../../images/home/home_fragment_4/r_176x232_3.png"/></div>
            <div class="text_bg"></div>
            <text class="text">西部警长凯莉</text>
        </item>
        <item class="item" style="left:825px;top: 17px;">
            <div class="focus"><img src="../../../images/focus/176x272.png"/></div>
            <div class="pic"><img src="../../../images/home/home_fragment_4/r_176x232_4.png"/></div>
            <div class="text_bg"></div>
            <text class="text">冰雪奇缘</text>
        </item>
        <item class="item" style="left:1018px;top: 17px;">
            <div class="focus"><img src="../../../images/focus/176x272.png"/></div>
            <div class="pic"><img src="../../../images/home/home_fragment_4/r_176x232_5.png"/></div>
            <div class="text_bg"></div>
            <text class="text">小医师大玩偶</text>
        </item>
    </group>
    <group class="r_560x232" style="width: 1280px;height: 310px;top: 1034px" view-left="none" view-right="none">
        <item class="item" style="left:53px;">
            <div class="focus"><img src="../../../images/focus/560x232.png"/></div>
            <div class="pic"><img src="../../../images/home/home_fragment_4/r_560x232_0.png"/></div>
            <div class="text_bg"></div>
        </item>
        <item class="item" style="left:632px;">
            <div class="focus"><img src="../../../images/focus/560x232.png"/></div>
            <div class="pic"><img src="../../../images/home/home_fragment_4/r_560x232_1.png"/></div>
            <div class="text_bg"></div>
        </item>
    </group>
    <group class="r_176x272" style="width: 1280px;height: 330px;top: 1302px" view-left="none" view-right="none">
        <div class="title">燃爆了！热血甲动画</div>
        <item class="item" style="left:53px;top: 17px;">
            <div class="focus"><img src="../../../images/focus/176x272.png"/></div>
            <div class="pic"><img src="../../../images/home/home_fragment_4/r_176x232_6.png"/></div>
            <div class="text_bg"></div>
            <text class="text">猛兽战警</text>
        </item>
        <item class="item" style="left:246px;top: 17px;">
            <div class="focus"><img src="../../../images/focus/176x272.png"/></div>
            <div class="pic"><img src="../../../images/home/home_fragment_4/r_176x232_7.png"/></div>
            <div class="text_bg"></div>
            <text class="text">少年钢铁侠</text>
        </item>
        <item class="item" style="left:439px;top: 17px;">
            <div class="focus"><img src="../../../images/focus/176x272.png"/></div>
            <div class="pic"><img src="../../../images/home/home_fragment_4/r_176x232_8.png"/></div>
            <div class="text_bg"></div>
            <text class="text">钢铁飞龙第二季</text>
        </item>
        <item class="item" style="left:632px;top: 17px;">
            <div class="focus"><img src="../../../images/focus/176x272.png"/></div>
            <div class="pic"><img src="../../../images/home/home_fragment_4/r_176x232_9.png"/></div>
            <div class="text_bg"></div>
            <text class="text">铠甲勇士</text>
        </item>
        <item class="item" style="left:825px;top: 17px;">
            <div class="focus"><img src="../../../images/focus/176x272.png"/></div>
            <div class="pic"><img src="../../../images/home/home_fragment_4/r_176x232_10.png"/></div>
            <div class="text_bg"></div>
            <text class="text">天空战队</text>
        </item>
        <item class="item" style="left:1018px;top: 17px;">
            <div class="focus"><img src="../../../images/focus/176x272.png"/></div>
            <div class="pic"><img src="../../../images/home/home_fragment_4/r_176x232_11.png"/></div>
            <div class="text_bg"></div>
            <text class="text">迷你特工队之英雄的诞生</text>
        </item>
    </group>

    <group class="r_368x72" style="width: 1280px;height: 95px;top: 1630px;" view-left="none" view-right="none">
        <item class="item" style="left:72px;">
            <div class="focus"><img src="../../../images/home/down_0_378x81.png" view-lazy="0"/></div>
            <div class="pic"><img src="../../../images/home/down_0.png" view-lazy="0"/></div>
        </item>

        <item class="item" style="left:456px;">
            <div class="focus"><img src="../../../images/home/down_1_378x81.png" view-lazy="0"/></div>
            <div class="pic"><img src="../../../images/home/down_1.png" view-lazy="0"/></div>
        </item>

        <item class="item" style="left:840px;" id="back_top">
            <div class="focus"><img src="../../../images/home/down_2_378x81.png" view-lazy="0"/></div>
            <div class="pic"><img src="../../../images/home/down_2.png" view-lazy="0"/></div>
        </item>
    </group>
</template>
