.navigation .focus{
    background: #f33e48;
}

.navigation{
    width: 1260px;
    height: 32px;
    left: 10px;
    top: 93px;
    overflow: hidden;
}

.navigation .item,
.navigation .focus,
.navigation .text{
    width: 90px;
    height: 32px;
}

.navigation .focus{
    border-radius: 5px;
}

.navigation .text{
    white-space: nowrap;
    text-align: center;
    line-height: 32px;
    font-size: 28px;
    color: #434343;
}

.navigation .item_focus .text{
    color: white;
}

.horizontal_scroll{
    width: 1280px;
    height: 584px;
    top: 136px;
    overflow: hidden;
}
