.bg {
    width: 1202px;
    height: 529px;
    left: 40px;
    top: 16px;
    background: #a8aaae;
    border-radius: 5px;
}

.type_bg {
    width: 122px;
    height: 514px;
    left: 48px;
    top: 24px;
    background: #c8c6c4;
}

.r_104x40,
.r_104x40 .item {
    width: 104px;
    height: 40px;
}

.r_104x40 .focus {
    width: 104px;
    height: 40px;
    border-radius: 5px;
}

.r_104x40 .item .focus {
    border: unset;
    background: #535353;
}

.r_104x40 .text {
    width: 104px;
    height: 40px;
    text-align: center;
    white-space: nowrap;
    line-height: 40px;
    font-size: 28px;
    color: #454545;
}

.r_104x40 .item_focus .text {
    color: white;
}

.small_video{
    width: 617px;
    height: 345px;
    left: 177px;
    top: 24px;
    background: black;
}

.small_video img{
    width: 617px;
    height: 345px;
}

.channel_list{
    width: 432px;
    height: 506px;
    overflow: hidden;
    background: #dadad8;
}

.channel_list .item {
    width: 432px;
    height: 63px;
}

.channel_list .icon,
.channel_list .icon img{
    width: 42px;
    height: 42px;
}

.channel_list .icon{
    top: 11px;
    left: 8px;
}

.channel_list .focus {
    width: 402px;
    height: 63px;
}

.channel_list .item .focus {
    border: unset;
    background: #535353;
}

.channel_list .text {
    width: 104px;
    height: 63px;
    white-space: nowrap;
    line-height: 63px;
    font-size: 24px;
    color: #454545;
}

.channel_list .item_focus .text {
    color: white;
}

.channel_list .line{
    height: 1px;
    width: 402px;
    top: 62px;
    background: gray;
}

.history{
    width: 650px;
    height: 130px;
    overflow: hidden;
}

.history .item,
.history .focus{
    height: 130px;
    width: 120px;
}

.history .pic,
.history .pic .img{
    width: 82px;
    height: 82px;
}

.history .text {
    width: 82px;
    height: 16px;
    left: 19px;
    top: 109px;
    white-space: nowrap;
    line-height: 16px;
    font-size: 16px;
    color: #454545;
    text-align: center;
}

