.r_368x480,
.r_368x480 .item {
    width: 406px;
    height: 518px;
}

.r_368x480 .focus,
.r_368x480 .focus img {
    width: 406px;
    height: 518px;
}

.r_368x480 .pic,
.r_368x480 .pic img {
    width: 368px;
    height: 480px;
}

.r_560x232,
.r_560x232 .item {
    width: 598px;
    height: 270px;
}

.r_560x232 .focus,
.r_560x232 .focus img {
    width: 598px;
    height: 270px;
}

.r_560x232 .pic,
.r_560x232 .pic img {
    width: 560px;
    height: 232px;
}

.r_176x232,
.r_176x232 .item {
    width: 214px;
    height: 270px;
}

.r_176x232 .focus,
.r_176x232 .focus img {
    width: 214px;
    height: 270px;
}

.r_176x232 .pic,
.r_176x232 .pic img {
    width: 176px;
    height: 232px;
}

.r_176x112,
.r_176x112 .item {
    width: 214px;
    height: 150px;
}

.r_176x112 .focus,
.r_176x112 .focus img {
    width: 214px;
    height: 150px;
}

.r_176x112 .pic,
.r_176x112 .pic img {
    width: 176px;
    height: 112px;
}

.r_216x77,
.r_216x77 .item {
    width: 254px;
    height: 115px;
}

.r_216x77 .focus,
.r_216x77 .focus img {
    width: 254px;
    height: 115px;
}

.r_216x77 .pic,
.r_216x77 .pic img {
    width: 216px;
    height: 77px;
}

.r_176x272,
.r_176x272 .item{
    width: 214px;
    height: 310px;
}

.r_176x272 .focus,
.r_176x272 .focus img{
    width: 214px;
    height: 310px;
}

.r_176x272 .pic,
.r_176x272 .pic img{
    width: 176px;
    height: 232px;
}

.r_176x272 .pic img{
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.r_176x272 .text_bg{
    width: 176px;
    height: 40px;
    left: 19px;
    top: 251px;
    background: white;
}

.r_176x272 .text{
    width: 166px;
    height: 40px;
    left: 24px;
    top: 251px;
    color: #454545;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    line-height: 40px;
    font-size: 24px;
}

.r_368x272,
.r_368x272 .item{
    width: 406px;
    height: 310px;
}

.r_368x272 .focus,
.r_368x272 .focus img{
    width: 406px;
    height: 310px;
}

.r_368x272 .pic,
.r_368x272 .pic img{
    width: 368px;
    height: 232px;
}

.r_368x272 .pic img{
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.r_368x272 .text_bg{
    width: 368px;
    height: 40px;
    left: 19px;
    top: 251px;
    background: white;
}

.r_368x272 .text{
    width: 358px;
    height: 40px;
    left: 24px;
    top: 251px;
    color: #454545;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    line-height: 40px;
    font-size: 24px;
}

.title{
    width: 500px;
    height: 22px;
    left: 72px;
    white-space: nowrap;
    font-size: 22px;
    color: #454545;
    line-height: 22px;
}

.text{
    width: 80px;
    height: 16px;
    top: 37px;
    line-height: 16px;
    white-space: nowrap;
    font-size: 16px;
}

.line{
    width: 1136px;
    height: 1px;
    left: 72px;
    top: 62px;
    background: gray;
}

.point{
    width: 16px;
    height: 16px;
    top: 55px;
}

.point img{
    width: 16px;
    height: 16px;
}

.r_368x72 .item{
    width: 378px;
    height: 81px;
}

.r_368x72 .pic{
    left: 5px;
    top: 0px;
}

.r_368x72 .pic img{
    width: 368px;
    height: 72px;
}

.r_368x72 .focus img{
    width: 378px;
    height: 81px;
}

.r_368x72 .item_focus .pic{
    display: none;
}
