.r_440x280,
.r_440x280 .item{
    width: 478px;
    height: 318px;
}

.r_440x280 .focus,
.r_440x280 .focus img{
    width: 478px;
    height: 318px;
}

.r_440x280 .pic,
.r_440x280 .pic img{
    width: 440px;
    height: 280px;
}

.r_440x280 .pic{
    left: 19px;
    top: 19px;
}

.r_216x280,
.r_216x280 .item{
    width: 254px;
    height: 318px;
}

.r_216x280 .focus,
.r_216x280 .focus img{
    width: 254px;
    height: 318px;
}

.r_216x280 .pic,
.r_216x280 .pic img{
    width: 216px;
    height: 280px;
}

.r_216x280 .pic{
    left: 19px;
    top: 19px;
}

.r_216x132,
.r_216x132 .item{
    width: 254px;
    height: 170px;
}

.r_216x132 .focus,
.r_216x132 .focus img{
    width: 254px;
    height: 170px;
}

.r_216x132 .pic,
.r_216x132 .pic img{
    width: 216px;
    height: 132px;
}

.r_216x132 .pic{
    left: 19px;
    top: 19px;
}

.r_368x152,
.r_368x152 .item{
    width: 406px;
    height: 190px;
}

.r_368x152 .focus,
.r_368x152 .focus img{
    width: 406px;
    height: 190px;
}

.r_368x152 .pic,
.r_368x152 .pic img{
    width: 368px;
    height: 152px;
}

.r_368x152 .pic{
    left: 19px;
    top: 19px;
}

.first_screen{
    width: 1280px;
    height: 495px;
    left: 0px;
    top: 0px;
    overflow: hidden;
}

.r_90x90,
.r_90x90 .item{
    width: 128px;
    height: 144px;
}

.r_90x90 .focus,
.r_90x90 .focus img{
    width: 128px;
    height: 128px;
}

.r_90x90 .focus{
    top: 16px;
}

.r_90x90 .pic,
.r_90x90 .pic img{
    width: 128px;
    height: 136px;
}

.r_90x90 .pic{
    left: 0px;
    top: 8px;
}

.second_screen{
    width: 1280px;
    height: 150px;
    left: 0px;
    top: 467px;
    overflow: hidden;
}

.r_176x74,
.r_176x74 .item{
    width: 214px;
    height: 112px;
}

.r_176x74 .focus,
.r_176x74 .focus img{
    width: 214px;
    height: 112px;
}

.r_176x74 .pic,
.r_176x74 .pic img{
    width: 176px;
    height: 74px;
}

.r_176x272,
.r_176x272 .item{
    width: 214px;
    height: 310px;
}

.r_176x272 .focus,
.r_176x272 .focus img{
    width: 214px;
    height: 310px;
}

.r_176x272 .pic,
.r_176x272 .pic img{
    width: 176px;
    height: 232px;
}

.r_176x272 .pic img{
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.r_176x272 .text_bg{
    width: 176px;
    height: 40px;
    left: 19px;
    top: 251px;
    background: white;
}

.r_176x272 .text{
    width: 166px;
    height: 40px;
    left: 24px;
    top: 251px;
    color: #454545;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    line-height: 40px;
    font-size: 24px;
}

.title{
    width: 500px;
    height: 22px;
    left: 72px;
    white-space: nowrap;
    font-size: 22px;
    color: white;
    line-height: 22px;
}

.r_560x232,
.r_560x232 .item {
    width: 598px;
    height: 270px;
}

.r_560x232 .focus,
.r_560x232 .focus img {
    width: 598px;
    height: 270px;
}

.r_560x232 .pic,
.r_560x232 .pic img {
    width: 560px;
    height: 232px;
}

.r_368x72 .item{
    width: 378px;
    height: 81px;
}

.r_368x72 .pic{
    left: 5px;
    top: 0px;
}

.r_368x72 .pic img{
    width: 368px;
    height: 72px;
}

.r_368x72 .focus img{
    width: 378px;
    height: 81px;
}

.r_368x72 .item_focus .pic{
    display: none;
}

