.r_368x480,
.r_368x480 .item {
    width: 406px;
    height: 518px;
}

.r_368x480 .focus,
.r_368x480 .focus img {
    width: 406px;
    height: 518px;
}

.r_368x480 .pic,
.r_368x480 .pic img {
    width: 368px;
    height: 480px;
}

.r_560x232,
.r_560x232 .item {
    width: 598px;
    height: 270px;
}

.r_560x232 .focus,
.r_560x232 .focus img {
    width: 598px;
    height: 270px;
}

.r_560x232 .pic,
.r_560x232 .pic img {
    width: 560px;
    height: 232px;
}

.r_176x232,
.r_176x232 .item {
    width: 214px;
    height: 270px;
}

.r_176x232 .focus,
.r_176x232 .focus img {
    width: 214px;
    height: 270px;
}

.r_176x232 .pic,
.r_176x232 .pic img {
    width: 176px;
    height: 232px;
}

.r_176x112,
.r_176x112 .item {
    width: 214px;
    height: 150px;
}

.r_176x112 .focus,
.r_176x112 .focus img {
    width: 214px;
    height: 150px;
}

.r_176x112 .pic,
.r_176x112 .pic img {
    width: 176px;
    height: 112px;
}

.r_216x77,
.r_216x77 .item {
    width: 254px;
    height: 115px;
}

.r_216x77 .focus,
.r_216x77 .focus img {
    width: 254px;
    height: 115px;
}

.r_216x77 .pic,
.r_216x77 .pic img {
    width: 216px;
    height: 77px;
}
