.r_560x232,
.r_560x232 .item {
    width: 598px;
    height: 270px;
}

.r_560x232 .focus,
.r_560x232 .focus img {
    width: 598px;
    height: 270px;
}

.r_560x232 .pic,
.r_560x232 .pic img {
    width: 560px;
    height: 232px;
}

.r_560x232 .pic {
    left: 19px;
    top: 19px;
}

.r_176x232,
.r_176x232 .item {
    width: 214px;
    height: 270px;
}

.r_176x232 .focus,
.r_176x232 .focus img {
    width: 214px;
    height: 270px;
}

.r_176x232 .pic,
.r_176x232 .pic img {
    width: 176px;
    height: 232px;
}

.r_176x232 .pic {
    left: 19px;
    top: 19px;
}

.r_191x54,
.r_191x54 .item {
    width: 191px;
    height: 54px;
    background: #4e5258;
}

.r_191x54 .focus {
    width: 191px;
    height: 54px;
}

.r_191x54 .item .focus {
    border: unset;
    background: #f33e48;
}

.r_191x54 .text {
    width: 191px;
    height: 30px;
    line-height: 30px;
    white-space: nowrap;
    overflow: hidden;
    color: white;
    font-size: 24px;
}

.r_191x54 .info {
    width: 181px;
    height: 20px;
    top: 32px;
    line-height: 20px;
    white-space: nowrap;
    overflow: hidden;
    color: #f98700;
    font-size: 14px;
    text-align: right;
}

.r_191x54 .line{
    width: 191px;
    height: 1px;
    top: 53px;
    background: #eeeeee;
}

.r_111x82 .item,
.r_111x82 .focus{
    width: 111px;
    height: 82px;
}

.r_111x82 .focus{
    z-index: 1;
}

.r_111x82 .pic{
    width: 101px;
    height: 72px;
    left: 5px;
    top: 5px;
}

.r_111x82 .item_focus .pic{
    display: none;
}

.r_1136x320,
.r_1136x320 .item{
    width: 1174px;
    height: 358px;
}

.r_1136x320 .focus,
.r_1136x320 .focus img{
    width: 1174px;
    height: 358px;
}

.r_1136x320 .pic,
.r_1136x320 .pic img{
    width: 1136px;
    height: 320px;
}

.r_176x232,
.r_176x232 .item{
    width: 214px;
    height: 270px;
}

.r_176x232 .focus,
.r_176x232 .focus img{
    width: 214px;
    height: 270px;
}

.r_176x232 .pic,
.r_176x232 .pic img{
    width: 176px;
    height: 232px;
}

.r_176x272,
.r_176x272 .item{
    width: 214px;
    height: 310px;
}

.r_176x272 .focus,
.r_176x272 .focus img{
    width: 214px;
    height: 310px;
}

.r_176x272 .pic,
.r_176x272 .pic img{
    width: 176px;
    height: 232px;
}

.r_176x272 .pic img{
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.r_176x272 .text_bg{
    width: 176px;
    height: 40px;
    left: 19px;
    top: 251px;
    background: white;
}

.r_176x272 .text{
    width: 166px;
    height: 40px;
    left: 24px;
    top: 251px;
    color: #454545;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    line-height: 40px;
    font-size: 24px;
}

.title{
    width: 500px;
    height: 22px;
    left: 72px;
    white-space: nowrap;
    font-size: 22px;
    color: #454545;
    line-height: 22px;
}

.r_368x72 .item{
    width: 378px;
    height: 81px;
}

.r_368x72 .pic{
    left: 5px;
    top: 0px;
}

.r_368x72 .pic img{
    width: 368px;
    height: 72px;
}

.r_368x72 .focus img{
    width: 378px;
    height: 81px;
}

.r_368x72 .item_focus .pic{
    display: none;
}
