.r_440x280,
.r_440x280 .item{
    width: 478px;
    height: 318px;
}

.r_440x280 .focus,
.r_440x280 .focus img{
    width: 478px;
    height: 318px;
}

.r_440x280 .pic,
.r_440x280 .pic img{
    width: 440px;
    height: 280px;
}

.r_440x280 .pic{
    left: 19px;
    top: 19px;
}

.r_216x280,
.r_216x280 .item{
    width: 254px;
    height: 318px;
}

.r_216x280 .focus,
.r_216x280 .focus img{
    width: 254px;
    height: 318px;
}

.r_216x280 .pic,
.r_216x280 .pic img{
    width: 216px;
    height: 280px;
}

.r_216x280 .pic{
    left: 19px;
    top: 19px;
}

.r_216x132,
.r_216x132 .item{
    width: 254px;
    height: 170px;
}

.r_216x132 .focus,
.r_216x132 .focus img{
    width: 254px;
    height: 170px;
}

.r_216x132 .pic,
.r_216x132 .pic img{
    width: 216px;
    height: 132px;
}

.r_216x132 .pic{
    left: 19px;
    top: 19px;
}

.r_368x152,
.r_368x152 .item{
    width: 406px;
    height: 190px;
}

.r_368x152 .focus,
.r_368x152 .focus img{
    width: 406px;
    height: 190px;
}

.r_368x152 .pic,
.r_368x152 .pic img{
    width: 368px;
    height: 152px;
}

.r_368x152 .pic{
    left: 19px;
    top: 19px;
}

.first_screen{
    width: 1280px;
    height: 495px;
    left: 0px;
    top: 0px;
    overflow: hidden;
}

.r_90x90,
.r_90x90 .item{
    width: 128px;
    height: 128px;
}

.r_90x90 .focus,
.r_90x90 .focus img{
    width: 128px;
    height: 128px;
}

.r_90x90 .pic,
.r_90x90 .pic img{
    width: 128px;
    height: 128px;
}

.r_90x90 .pic{
    left: 0px;
    top: 0px;
}

.second_screen{
    width: 1280px;
    height: 130px;
    left: 0px;
    top: 467px;
    overflow: hidden;
}



